TOKEN=<YOUR_TOKEN>
MODEL_DOWNLOAD_DIR=F:\stable-diffusion-webui\models\Stable-diffusion
LORA_DOWNLOAD_DIR=F:\stable-diffusion-webui\models\Lora
EMBEDDING_DOWNLOAD_DIR=F:\stable-diffusion-webui\embeddings

